$footer-padding: 12px;
$copyright-size: 14px;
$footer-logo-height: ($footer-height - ($footer-padding * 2));

.c-footer{
	height: $footer-height;
	display: block;
	position: relative;
	bottom: 0px;
	width: 100%;
	padding: $footer-padding $header-padding;
	background-color: $color-primary;

	&__logo{
		float: left;
		display: inline-block;

		&__icon{
			height: $footer-logo-height;	
		}
	}

	&__copyright{
		@include span-columns(6);
		float: right;
		text-align: right;
		color: $color-secondary;
		display: inline-block;
		font-size: $copyright-size;
		font-family: $body-font;
		padding-top: (($footer-logo-height - $copyright-size)/2);
		padding-bottom: (($footer-logo-height - $copyright-size)/2);
	}
}