$header-padding: 20px;
$header-logo-height: ($header-height - ($header-padding * 2));
$nav-size: 16px;
$dropdown-width: 140px;
$dropdown-font-size: 12px;
$triangle-size: 10px;

.c-header{
	background-color: $color-primary;
	display: block;
	position: fixed;
	top: 0px;
	padding: $header-padding $header-padding 0;
	width: 100%;
	z-index: 2;
	-webkit-app-region: drag;

	&__logo{
		display: inline-block;
		margin-bottom: $header-padding;

		&:hover img{
			transition: opacity $base-duration $base-timing;
		}

		&:hover img{
			opacity: .8;
		}

		&-icon{
			float: left;
			height: $header-logo-height;
		}

		&-text{
			float: left;
			margin-top: 5px;
			margin-left: 10px;
			height: ($header-logo-height - 10);
		}
	}

	&__nav{
		@include span-columns(6);
		float: right;
		text-align: right;
	}

	&__link{
		font-family: $headers-font;
		display: inline-block;
		position: relative;
		overflow: visible;
		padding-left: 2%;
		color: $action-color;
		font-size: $nav-size;
		padding-right: 2%;
		padding-top: (($header-logo-height - $nav-size)/2);
		padding-bottom: (($header-logo-height - $nav-size)/2 + $header-padding);

		&:hover .c-sections{
			opacity: 1;
			visibility: visible;
		}

		&__parent:hover{
			opacity: .7;
			cursor: pointer;
		}

		&:last-of-type{
			padding-right: 0px;
		}
	}

	&__dropdown{
		width: $dropdown-width;
		margin-left: -($dropdown-width/2);
		background-color: $color-secondary;
		color: $color-background;
		font-size: $dropdown-font-size;
		font-family: $body-font;
		box-shadow: $shadow;
		opacity: 0;
		visibility: hidden;
		z-index: 5;
		transition: visibility 0s linear, opacity $base-timing $base-duration;

		&__visible{
			opacity: 1;
			visibility: visible;
		}

		& .c-sections__link{
			border-top: 1px solid $color-secondary;
			border-bottom: 1px solid $color-secondary;

			&:first-of-type{
				border-top: 0px;
			}

			&:last-of-type{
				border-bottom: 0px;
			}

			&:hover{
				cursor: pointer;
				border-color: $color-background;
			}
		}

		&:hover{
			cursor: pointer;
		}

		&::before{
			top: -$triangle-size;
			position: absolute;
			margin-left: -($triangle-size);
			left: 50%;
			@include triangle(top, $color-secondary, $triangle-size);
		}

		
	}
}