$legend-fade: 0.3;

.c-visual{
	display: block;
	margin: 20px auto;
	

	&__graphic{
		width: 100%;
		opacity: 0;
		transition: opacity $base-duration $base-timing;

		&__show{
			opacity: 1;
		}
	}

	&__caption{
		display: block;
		margin-bottom: 20px;
		font-size: $base-font-size;
		font-family: $body-font;
		line-height: $base-line-height;

		&-figure{
			font-weight: bold;
		}
	}
}

.c-histogram, .c-lineChart{

	&__title{
		font-family: $headers-font;
		font-size: 26px;
	}
	

	&__axis{
		stroke: $color-darker-gray;

		&-text{
			fill: $color-primary;
			font-family: $body-font;
			font-size: $base-font-size;
			stroke-width: 0px;
		}

		&-label{
			font-size: $larger-font-size;
			font-family: $body-font;
		}

		&__x-zero{
			stroke: $color-light-gray;
			stroke-width: 1px;
		}
	}
}


.c-histogram{
	&__legend{
		display: none;
		font-size: $larger-font-size;
		font-family: $body-font;

		&-category{
			// text-decoration: underline;
		}

		&__show{
			display: block;
		}
	}

	&__bars:hover &__bar{
		opacity: 0.7;
	}
	&__bar{
		fill: $color-primary;
		stroke: $color-darker-gray;
		transition: opacity $base-duration $base-timing;

		&:hover{
			opacity: 1 !important;
		}
	}
}

.c-lineChart{
	&__legend{
		&-color{
			stroke: $color-darker-gray;
			stroke-width: 1px;

			&__faded{
				opacity: $legend-fade;
			}
		}

		&-label{
			font-family: $body-font;
			font-size: $base-font-size;

			&__faded{
				opacity: $legend-fade;
			}
		}

		&:hover{
			cursor: pointer;
		}
	}

	&__group{
		&__faded{
			opacity: 0;
		}
	}

	&__line{
		stroke-width: 1px;
		fill: rgba(0,0,0,0);

		&__bold{
			stroke-width: 5px;
		}

		&__faded{
			opacity: $legend-fade;
		}
	}
}