<html>
	<head>
		<title><%= app.title %></title>
		<meta charset="UTF-8">
		<script src="https://use.fontawesome.com/ebf643c0fd.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!-- <script src="http://localhost:35729/livereload.js"></script>  -->
	</head>
	<body>
		<div id="app">
		</div>
		<script src="js/bundle.js"></script>
	</body>
</html>