<html>
	<head>
		<title><%= app.title %></title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="js/bundle.js"></script>
		<script src="http://localhost:35729/livereload.js"></script> 
	</head>
	<body>
		Hello World - from Electron
	</body>
</html>