$color-primary: #263650;
$color-background: #f7fbfc;
$color-secondary: #e74e4e;
$color-tertiary: #2273aa;
$color-tint: #57cbff;

@import 'https://fonts.googleapis.com/css?family=Arvo';
$headers-font: 'Arvo', serif;

@import 'https://fonts.googleapis.com/css?family=Arvo';
$body-font: 'PT Sans', sans-serif;

