body {
    background-color: $color-background;
    margin: 0px;
    color: $base-font-color;
    font-family: $body-font;
    font-size: $base-font-size;
    font-weight: 300;
    line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headers-font;
    font-size: modular-scale(1);
    line-height: $heading-line-height;
    margin: 0 0 $small-spacing;
}

p {
    margin: 0 0 $small-spacing;
}

a {
    color: $action-color;
    text-decoration: none;
    transition: opacity $base-duration $base-timing;

    &:active,
    &:focus,
    &:hover {
        opacity: .7;
    }
}

hr {
    border-bottom: $base-border;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: $base-spacing 0;
}