// Neat Overrides
$max-width: 1175px;
$max-width-small: 880px;

// Font Sizes
$base-font-size: 12px;

// Line height
$base-line-height: 1;
$heading-line-height: 1;

// Other Sizes
$base-border-radius: 3px;
$button-border-radius: 50px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$header-height: 90px;
$footer-height: 50px;

// Random
$show-letter-spacing: 0.5px;

// Colors
$color-lightest-gray: #eee;
$color-lighter-gray: #d9d9d9;
$color-light-gray: #b3b3b3;
$color-medium-gray: #858585;
$color-dark-gray: #454545;
$color-darker-gray: #353535;
$color-darkest-gray: #252525;

$base-font-color: $color-dark-gray;
$action-color: $color-secondary;

// Border
$base-border-color: $color-light-gray;
$base-border: 1px solid $base-border-color;

// Shadows
$shadow: 3px 3px 5px 2px rgba(0,0,0,0.5);

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Animations
$base-duration: 300ms;
$base-timing: linear;
