$nav-width: 50px;
$container-height: 600px;
$line-height: $larger-line-height;
$font-size: $larger-font-size;

.p-bib{
	@include outer-container;
	padding: $section-padding $header-padding;
	font-size: $font-size;
	line-height: $line-height;

	&__download{
		font-size: 0.9em;
		display: inline-block;
		margin: 0px 5px 0px;
	}

	&__list{
		list-style-type: decimal;
		padding-left: 30px;

		.c-source{
			display: block;
			margin: 10px 0px;
		}
	}
}