$nav-width: 50px;
$container-height: 600px;
$tooltip-height: 120px;
$tooltip-width: 400px;
$line-height: $larger-line-height;
$font-size: $larger-font-size;


.p-paper{
	@include outer-container;
	padding: $section-padding $header-padding;
	font-size: $font-size;
	line-height: $line-height;

	&__toc{
		@include span-columns(4);
		position: relative;
		overflow: hidden;
		float: right;
		text-align: left;
		padding: 10px;
		margin: 15px;
		margin-top: 0px;
		color: $color-primary;
		border: 2px solid $color-primary;
		background-color: rgba($color-tertiary, 0.3);

		&-title{
			display: block;
			margin: 0px 0px 10px;
			text-align: center;
			letter-spacing: 1px;
		}

		&-list{
			position: relative;
			top: auto;
			left: auto;
			text-align: left;
			list-style-type: decimal;
			padding-left: 30px;

			.c-sections__link{
				display: list-item;

				&:hover{
					cursor: pointer;
					opacity: .7;
				}
			}
		}
	}

	&__paragraph{
		margin: 0px 0px 30px;
	}

	&__heading{
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 0px 0px 10px;
	}

	&__download{
		font-size: 0.8em;
		display: inline-block;
		margin: 0px 5px 0px;
		position: relative;
	    top: -2.5px;
	}

	&__subheading{
		letter-spacing: 1px;
		margin: 0px 0px 10px;
	}

	&__tooltip{
		position: absolute;
		margin-top: -($tooltip-height + 35);
		margin-left: -30px;
		z-index: 100;
		height: $tooltip-height;
		background-color: $color-background;
		padding: 10px;
		width: $tooltip-width;
		box-shadow: $shadow;
		border: 2px solid $color-primary;

		&:before, &:after{
			content: "";
			width: 0px;
			height: 0px;
			position: absolute;
			border-style: solid;
		}

		&:after{
			top: ($tooltip-height - 4);
			left: 22.5px;
			border-width: 15px 15px 0 15px;
			border-color: $color-background transparent transparent transparent;
		}

		&:before{
			top: ($tooltip-height - 4);
			left: 19.5px;
			border-width: 18px 18px 0 18px;
			border-color: $color-primary transparent transparent transparent;
		}
	}
}